body{
    margin: 0;
    background-color: black;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("mason-kimbarovsky-E5bGCHzjpr8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
form{
    flex-direction: column;

}
input{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: black;
    background-color: rgb(230, 227, 227);
}
button{
    margin: 0.6em;
    padding: 0.3em;
}
img{
    display: block;
    margin: 0.8em 0.8em 0 15em;
    border: 2px solid black;
}